<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/stylesheets.css" />
    <title>mindfullness</title>
</head>
<body id="mindfullness">
    <form action="/mindfullness" method="POST">
        <select name="mindfullnessOption">
            <% options.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <select name="dayOfWeekOption">
            <% weekOptions.forEach(dayOption => { %>
                <option value="<%= dayOption %>"><%= dayOption %></option>
            <% }) %>
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>