<%- include('../views/partials/partials') %>
  <title>movement</title>
  <body id="movement">
    <div class="card text-center">
      <div class="card-header">
    
      </div>
      <div class="card-body">
        <h5 class="card-title">  <img id="sneaker" src="images/sneaker.png" alt=""></h5>
        <p class="card-text"></p>

        <!-- Inserted form for movement -->
        <form action="/movement" method="POST">
            <div class="form-group">
                <label for="movementOption">Movement Option</label>
                <select class="form-control" name="movementOption" id="movementOption">
                    <% options.forEach(option => { %>
                        <option value="<%= option %>"><%= option %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

      </div>
      <div class="card-footer text-muted">
       
      </div>
    </div>
</html>
