<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/weekOverview" method="get">
        <button type="menu">HOME PAGE</button>
    </form>
</body>
</html>