<%- include("../views/partials/partials") %>

  
  
  

     <h1 id="runstart">FOR YOUR RUN START</h1>
    <div class="card text-center">
      <div class="card-header">
        <img id="sneaker" src="images/sneaker.png" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title">Movement</h5>
        <p class="card-text">Find the best movement for you</p>
        <a href="https://www.hri.org.au/health/your-health/lifestyle/choosing-the-right-exercise-for-you" class="btn btn-primary">Get Your Start</a>
      </div>
      <div class="card-footer text-muted">
        <img id="sneaker" src="images/sneaker.png" alt="">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        <img id="mindfulnessImage" src="images/mindfulnessImage.png" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title">Mindfulness</h5>
        <p class="card-text">Healthy mind healthy body</p>
        <a href="https://helpguide.org/harvard/benefits-of-mindfulness.htm" class="btn btn-primary">Get your start</a>
      </div>
      <div class="card-footer text-muted">
        <img id="mindfulnessImage" src="images/mindfulnessImage.png" alt="">
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        <img id="sleepImage" src="images/sleepImage.png" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title">Sleep</h5>
        <p class="card-text">Why sleep is important for overall wellbeing</p>
        <a href="https://www.nhlbi.nih.gov/health/sleep/why-sleep-important" class="btn btn-primary">Get Your Start</a>
      </div>
      <div class="card-footer text-muted">
        <img id="sleepImage" src="images/sleepImage.png" alt="">
      </div>
    </div>
</body>
</html>
