<%- include("../views/partials/partials") %>

<h1 id="runstart">FOR YOUR RUN START</h1>
<div>
  <div>
    <img id="sneaker" src="images/sneaker.png" alt="">
  </div>
  <div>
    <h5>Movement</h5>
    <p>Find the best movement for you</p>
    <a href="https://www.hri.org.au/health/your-health/lifestyle/choosing-the-right-exercise-for-you" class="btn btn-primary">Get Your Start</a>
  </div>
  <div>
    <img id="sneaker" src="images/sneaker.png" alt="">
  </div>
</div>
<div>
  <div>
    <img id="mindfulnessImage" src="images/mindfulnessImage.png" alt="">
  </div>
  <div>
    <h5>Mindfulness</h5>
    <p>Healthy mind healthy body</p>
    <a href="https://helpguide.org/harvard/benefits-of-mindfulness.htm" class="btn btn-primary">Get your start</a>
  </div>
  <div>
    <img id="mindfulnessImage" src="images/mindfulnessImage.png" alt="">
  </div>
</div>
<div>
  <div>
    <img id="sleepImage" src="images/sleepImage.png" alt="">
  </div>
  <div>
    <h5>Sleep</h5>
    <p>Why sleep is important for overall wellbeing</p>
    <a href="https://www.nhlbi.nih.gov/health/sleep/why-sleep-important" class="btn btn-primary">Get Your Start</a>
  </div>
  <div>
    <img id="sleepImage" src="images/sleepImage.png" alt="">
  </div>
</div>
</body>
</html>

