.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

body {
  background-color: rgb(236, 90, 150);
  color: white;
  font-family: "Oswald", sans-serif;
}
a {
  color: white;
}
nav {
  display: flex;
  gap: 90px;
  font-size: 17px;
  justify-content: center;
  margin-right: 50px;
}

#mindfullness {
  background-color: rgb(236, 90, 150);

  margin-left: 350px;
}

#movement {
  background-color: rgb(236, 90, 150);
}

#sleep {
  background-color: rgb(236, 90, 150);
}


#overview {
  background-color: rgb(236, 90, 150);
}

#rectangle {
  height: 250px;
  width: 400px;
  color: black;
  background-color: white;
  text-align: center;
  margin-left: 350px;
  border-radius: 10%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adjust the values for desired shadow */
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  margin-bottom: 20px;
 display: inline-block;
}

#homeButton {
  color: black;
}


